<div class="sidebar sidebar--right">
  <ul class="link__first">
    <li class="r_f_i"><a href="index3.html">
      <div class="r_f_i__inner">
        <div class="r_f_i__left">
          <div class="r_f_i__title">Взрыв на празднике. Как фашисты сбросили бомбу на играющих детей</div>
          <div class="r_f_i__text">Раскатистый рёв над головами, через считанные мгновенья - глубокая воронка на месте, где только что играли...</div>
        </div>
        <div class="r_f_i__right">
          <img src="https://aif-s3.aif.ru/images/011/891/02e21f22e288c8e07dab5e36213ea53c.jpg" alt="">
        </div>
      </div>
      <div class="r_f_i__date">17.03.1032</div>
      
    </a></li>
  </ul>
</div>